	<footer class="main-footer">
	<div class="pull-right hidden-xs">
		<b>Version</b> 1.0 beta
	</div>
	<strong>Copyright &copy; 2016 <a
		href="mailto:JesseJiang310@gmail.com">Jesse--JesseJiang310@gmail.com</a>.
	</strong> All rights reserved. </footer>

	
	<!-- jQuery 2.2.0 -->
	<script src="${base}/resources/plugins/jQuery/jQuery-2.2.0.min.js"></script>
	<!-- Bootstrap 3.3.6 -->
	<script src="${base}/resources/js/bootstrap.min.js"></script>
	<!-- SlimScroll -->
	<script
		src="${base}/resources/plugins/slimScroll/jquery.slimscroll.min.js"></script>
	<!-- FastClick -->
	<script src="${base}/resources/plugins/fastclick/fastclick.js"></script>
	<!-- AdminLTE App -->
	<script src="${base}/resources/js/app.min.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="${base}/resources/dist/js/demo.js"></script>
	<script>
        var sub=function(str,n){
            var r=/[^\x00-\xff]/g;
            if(str.replace(r,"mm").length<=n){return str;}
            var m=Math.floor(n/2);
            for(var i=m;i<str.length;i++){
                if(str.substr(0,i).replace(r,"mm").length>=n){
                    return str.substr(0,i)+"...";
                }
            }
            return str;
        }
	$(function(){
	    try {
            $("#previous").click(function (e) {
                e.preventDefault();
                $("#pageNumber").val(($("#pageNumber").val() / 1) - 1);
                $("this").addClass("disabled");
                $("#pageForm").append($("#pageNumber"));
                $("#pageForm").submit();
            });
            $("#next").click(function (e) {
                e.preventDefault();
                $("#pageNumber").val(($("#pageNumber").val() / 1) + 1);
                $("this").addClass("disabled");
                $("#pageForm").append($("#pageNumber"));
                $("#pageForm").submit();
            });
            var pathname = $(location).attr('pathname');
            $(".sidebar-menu a").each(function () {
                var $current = $(this);
                if ($current.attr("href").substring(0, $current.attr("href").lastIndexOf("/")) == pathname.substring(0, pathname.lastIndexOf("/"))) {
                    $current.parent().addClass("active");
                    $current.parent().parent().addClass("menu-open").css("{display:block}");
                    $current.parent().parent().parent().addClass("active");
                }
            });
            var $treeview = $(".treeview .active");
            if ($treeview.size() == 0) {
                $(".treeview").first().addClass("active");
            }
            console.log('powered By jessejiang310@gmail.com')
        } catch (err) {
        }
	});
	</script>