[#if page?? && list??]
    [#if  list?size == page.pageSize || page.pageNumber>0]
    <div class="box-footer clearfix">
        <div class="col-sm-5">
            <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                [#if list?size >0]正在展示第${(page.pageNumber-1)*page.pageSize+1}至第${(page.pageNumber-1)*page.pageSize+list?size}条记录[/#if]
            </div>
        </div>
        <div class="col-sm-7">
                <input type="hidden" name="pageNumber" id="pageNumber" value="${page.pageNumber}"/>
                <ul class="pagination pagination-sm no-margin pull-right">
                    [#if page.pageNumber>1]
                    <li><a href="#" id="previous">上一页</a></li>
                    [/#if]
                    [#if list?size==page.pageSize]
                    <li><a href="#" id="next">下一页</a></li>
                    [/#if]
                </ul>
        </div>
    </div>
    [/#if]
[/#if]